.j1 {
    background-image: url("https://boygeniusreport.files.wordpress.com/2015/08/minas-tirith-image-001.jpg?quality=98&strip=all");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height:300px;
    /* margin-top:50px; */

  }

h1 {
    color:white;
    margin-top:50px;
}

#subtitle {
  color:white;
  /* margin-bottom:50px; */
}

body {
  /* use margin top for offset if navbar is on top */
  /* margin-top:1px;  */
  
}

.navbar{
  margin-top:0px;
}
