.j1 {
    /* background-image: url("https://boygeniusreport.files.wordpress.com/2015/08/minas-tirith-image-001.jpg?quality=98&strip=all"); */
    background-image: url("images/minas-tirith-image-001.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    height:350px;
    opacity:.75;
    background-color: darkblue;
  }

.navbar{
  margin-top:-88px;
  opacity: 0.75
}

.op5{
  opacity: .5;
}

.card-img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

